.main{
    margin: 0 33px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px;
}

.nav__refresh {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    height: 15px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #256aa1;
}

.list-container__list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.item {
    margin: 12px;
    display: flex;
    justify-content: flex-start;
}

.item__image-container {
    display: flex;
    align-items: center;
}

.item__image-container > div > img {
    width: 300px;
    height: 300px;
}

.item__content-container {
    width: 100%;
}

.content-container__header {
    border-bottom: solid #A9A9A9 1px;
}

.rating-box {
    color: #f0f0f0;
    margin: 0px 12px;
    height: 5px;
    width: 280px;
}

.rating-star {
    font-size: 18px;
    width: 18px;
    height: 18px;
    padding: 0 2px;
    margin-bottom: 9px;
    position: relative;
    display: block;
    float: left;
}

.full-star:before {
    color: #f2b01e;
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
}

.empty-star:before {
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
}

.name-stars {
    display: flex;
    align-items: center;
}

.content-container__show-details {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    height: 15px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #256aa1;
}

.details-container {
    display: flex;
}

.details-container__info {
    margin-top: 12px;
    width: 100%;
}

.details-container__info > div {
    padding: 2px;
}

.details-container__sales-block {
    width: 600px;

    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 13px 19px 18px 29px;
    border-radius: 3px;
    margin: 12px 0px 12px 12px;
}

.sales-block__price {
    font-size: 18px;
    padding-top: 6px;
    margin-bottom: 16px;
    margin-left: -1px;
    font-family: 'MuseoSans', Arial, Verdana, sans-serif;
    font-size: 1.75em;
    line-height: normal;
    display: inline-block;
}

.sales-block__button {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    height: 63px;
    line-height: 63px;
    background: #0f77b0;
    width: 100%;
    text-align: center;
    display: block;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}